main {}
main .bnr_swiper {position:relative;}
main .bnr_swiper .bnr_wrap {
    width:100%; height:598px; margin-bottom:140px;
}
main .bnr_swiper .bnr_wrap .swiper-wrapper {}
main .bnr_swiper .bnr_wrap .swiper-wrapper .swiper-slide {
    background-size:cover;
    background-position:center;
}
main .bnr_swiper .bnr_wrap .swiper-wrapper .slide1 {
    background-image:url(../images/bnr_001.jpg);
    display:flex; justify-content: space-between; padding:0 204px;
}
main .bnr_swiper .bnr_wrap .swiper-wrapper .slide1 .content_left {}
main .bnr_swiper .bnr_wrap .swiper-wrapper .slide1 .content_left p {
    font-size:3.0rem; line-height:598px; letter-spacing:-0.02em;
    color:#fff; font-weight:700;
}
main .bnr_swiper .bnr_wrap .swiper-wrapper .slide1 .content_right {
    padding-top:208px; font-size:3.0rem; color:#fff;
}
main .bnr_swiper .bnr_wrap .swiper-wrapper .slide1 .content_right p {font-weight:600; line-height:1.2; letter-spacing:-0.02em;}
main .bnr_swiper .bnr_wrap .swiper-wrapper .slide1 .content_right p:nth-child(2) {font-weight:700; margin-bottom:24px;}
main .bnr_swiper .bnr_wrap .swiper-wrapper .slide1 .content_right a {
    font-size:1.0rem; letter-spacing:-0.02em; color:#fff;
    padding:10px 15px;
    background:linear-gradient(90deg,#D07057,#756ECD);
    border-radius:15px;
}
main .bnr_swiper .bnr_wrap .swiper-wrapper .slide2 {background-image:url(../images/bnr_002.jpg);}
main .bnr_swiper .swiper-pagination {bottom:30px;}
main .bnr_swiper .swiper-pagination-bullet {background:#000; opacity:0.5;}
main .bnr_swiper .swiper-pagination-bullet-active {background:#A80909;}
main .bnr_swiper .prev, main .bnr_swiper .next {position:absolute;  top:0; z-index:999; opacity:0.6; padding:0 80px; height:100%; padding-top:280px;}
main .bnr_swiper a img {width:30px;}
main .bnr_swiper .prev {left:0;}
main .bnr_swiper .next {right:0;}
/* 배너 끝 */
main .icon_wrap {width:1760px; margin:0 auto;}
main .icon_wrap h2 {
    text-align:center; font-size:1.5rem; letter-spacing:-0.02em; font-weight:600;
    margin-bottom:30px;
}
main .icon_wrap .product_icon {
    margin:0 auto 140px; width:970px;
    display:flex; justify-content: space-between;
}
main .icon_wrap .product_icon a {}
main .icon_wrap .product_icon a:hover img {transform:translateY(-15px);}
main .icon_wrap .product_icon a p {
    text-align:center; font-size:0.88rem; font-weight:700; letter-spacing:-0.02em;
}
main .icon_wrap .product_icon a img {margin-bottom:16px;}
/* icon 끝 */
main .new_wrap {width:1760px; margin:0 auto 140px;}
main .new_wrap .new_title {margin-bottom:25px; overflow:hidden;}
main .new_wrap .new_title h2 {float:left;}
main .new_wrap .new_title h2 a {font-size:2rem; font-weight:600; letter-spacing: -0.02em;}
main .new_wrap .new_title h2 a span {color:#015EC5; font-weight:600;}
main .new_wrap .new_title .new_page {float:right; display:flex;}
main .new_wrap .new_title .new_page a {line-height:32px;}
main .new_wrap .new_title .new_page a:first-child {margin-right:20px;}
main .new_wrap .new_title .new_page > p {margin-right:10px; line-height:32px; color:#aaa;}
main .new_wrap .new_title .new_page .now_page {font-size:1.25rem; font-weight:500; position:relative; top:-2px; color:#000;}
main .new_wrap .new_title .new_page .total_page {margin-right:20px;}
/* new 공통 선택자 */
main .new_wrap .new_swiper {}
main .new_wrap .new_swiper .swiper-wrapper {}
main .new_wrap .new_swiper .swiper-wrapper .swiper-slide {display:flex; justify-content: space-between;}
main .new_wrap .new_swiper .swiper-wrapper .swiper-slide .new {}
main .new_wrap .new_swiper .swiper-wrapper .swiper-slide .new > a {}
main .new_wrap .new_swiper .swiper-wrapper .swiper-slide .new > a p {font-weight:600; letter-spacing:-0.02em; margin-bottom:10px;}
main .new_wrap .new_swiper .swiper-wrapper .swiper-slide .new > a p img {margin-bottom:20px;}
main .new_wrap .new_swiper .swiper-wrapper .swiper-slide .new .score_price {display:flex; margin-bottom:10px;}
main .new_wrap .new_swiper .swiper-wrapper .swiper-slide .new .score_price p {margin-right:13px;}
main .new_wrap .new_swiper .swiper-wrapper .swiper-slide .new .score_price p:first-child {color:#FF2121}
main .new_wrap .new_swiper .swiper-wrapper .swiper-slide .new .score_price p:nth-child(2) {font-size:1.13rem; font-weight:600;} 
main .new_wrap .new_swiper .swiper-wrapper .swiper-slide .new .score_price a {font-size:0.88rem; font-weight:600; line-height:-0.02em; align-self:center;}
main .new_wrap .new_swiper .swiper-wrapper .swiper-slide .new > p {
    color:#777; margin-bottom:5px; font-size:0.88rem; font-weight:600; letter-spacing:-0.02em;
}
main .new_wrap .new_swiper .swiper-wrapper .swiper-slide .new > p:last-child {margin-bottom:0;}
main .new_wrap .new_swiper .swiper-wrapper .swiper-slide .new .new_price {float:right; font-size:1.13rem; color:#000; }
main .new_wrap .new_swiper .swiper-wrapper .swiper-slide .new .new_price span {font-size:0.73rem; font-weight:600; color:#777;} 
main .new_wrap .new_swiper .swiper-wrapper .swiper-slide .new .new_price img {margin:0 10px 0 0px; position:relative; top:3px;}
/* new 개별 선택자 */
main .new_wrap .new_list1 .new1 {}
main .new_wrap .new_list1 .new1 a {}
main .new_wrap .new_list1 .new1 a p {}
main .new_wrap .new_list1 .new1 a p img {}
main .new_wrap .new_list1 .new1 .score_price {}
main .new_wrap .new_list1 .new1 .score_price > p {}
main .new_wrap .new_list1 .new1 .score_price a {}
main .new_wrap .new_list1 .new1 .score_price .new_price {}
main .new_wrap .new_list1 .new1 .score_price .new_price span {}
main .new_wrap .new_list1 .new1 .score_price .new_price img {}
main .new_wrap .new_list1 .new2 {}
main .new_wrap .new_list1 .new2 a {}
main .new_wrap .new_list1 .new2 a p {}
main .new_wrap .new_list1 .new2 a p img {}
main .new_wrap .new_list1 .new2 .score_price {}
main .new_wrap .new_list1 .new2 .score_price > p {}
main .new_wrap .new_list1 .new2 .score_price a {}
main .new_wrap .new_list1 .new2 .score_price .new_price {}
main .new_wrap .new_list1 .new2 .score_price .new_price span {}
main .new_wrap .new_list1 .new2 .score_price .new_price img {}
main .new_wrap .new_list .new3 {}
main .new_wrap .new_list .new3 a {}
main .new_wrap .new_list .new3 a p {}
main .new_wrap .new_list .new3 a p img {}
main .new_wrap .new_list .new3 .score_price {}
main .new_wrap .new_list .new3 .score_price > p {}
main .new_wrap .new_list .new3 .score_price a {}
main .new_wrap .new_list .new3 .score_price .new_price {}
main .new_wrap .new_list .new3 .score_price .new_price span {}
main .new_wrap .new_list .new3 .score_price .new_price img {}
main .new_wrap .new_list .new4 {}
main .new_wrap .new_list .new4 a {}
main .new_wrap .new_list .new4 a p {}
main .new_wrap .new_list .new4 a p img {}
main .new_wrap .new_list .new4 .score_price {}
main .new_wrap .new_list .new4 .score_price > p {}
main .new_wrap .new_list .new4 .score_price a {}
main .new_wrap .new_list .new4 .score_price .new_price {}
main .new_wrap .new_list .new4 .score_price .new_price span {}
main .new_wrap .new_list .new4 .score_price .new_price img {}
/* new 끝 */
main .hot_deal_wrap {width:1760px; margin:0 auto 140px;}
main .hot_deal_wrap .hot_deal_title {overflow:hidden; margin-bottom:25px;}
main .hot_deal_wrap .hot_deal_title h2 {float:left;}
main .hot_deal_wrap .hot_deal_title h2 a {font-size:2.0rem; letter-spacing:-0.02em; font-weight:600; margin-right:10px;}
main .hot_deal_wrap .hot_deal_title h2 a em {font-weight:600; color:#E34343;}
main .hot_deal_wrap .hot_deal_title h2 p {display:inline-block; color:#015EC5; font-weight:600; font-size:0.73rem; letter-spacing:-0.02em;}
main .hot_deal_wrap .hot_deal_title h2 p img {position:relative; top:4px;}
main .hot_deal_wrap .hot_deal_title .deal_page {float:right; display:flex;}
main .hot_deal_wrap .hot_deal_title .deal_page a {line-height:32px; display:inline-block;}
main .hot_deal_wrap .hot_deal_title .deal_page a:first-child {margin-right:20px;}
main .hot_deal_wrap .hot_deal_title .deal_page a img {}
main .hot_deal_wrap .hot_deal_title .deal_page p {line-height:32px; margin-right:5px; color:#777;}
main .hot_deal_wrap .hot_deal_title .deal_page .now_page {font-size:1.25rem; font-weight:500; position:relative; top:-2px; color:#000;}
main .hot_deal_wrap .hot_deal_title .deal_page .total_page {margin-right:20px;}
/* hot deal 공통선택자 */
main .hot_deal_wrap .swiper-wrapper {}
main .hot_deal_wrap .swiper-wrapper .swiper-slide {display:flex; justify-content: space-between;}
main .hot_deal_wrap .swiper-slide .deal {position:relative;overflow:hidden;}
main .hot_deal_wrap .swiper-slide .deal:last-child {margin-right:0;}
main .hot_deal_wrap .swiper-slide .deal > a {}
main .hot_deal_wrap .swiper-slide .deal > a p {font-weight:600; letter-spacing:-0.02em; margin-bottom:10px;}
main .hot_deal_wrap .swiper-slide .deal > a p img {margin-bottom:20px;}
main .hot_deal_wrap .swiper-slide .deal .discount {
    position:absolute; left:0; top:0; background-color:#000; color:#fff;
    font-size:0.88rem; width:45px; height:30px; text-align:center; line-height:30px;
}
main .hot_deal_wrap .swiper-slide .deal .score_price {display:flex; margin-bottom:10px;}
main .hot_deal_wrap .swiper-slide .deal .score_price p {margin-right:13px;}
main .hot_deal_wrap .swiper-slide .deal .score_price p:first-child {color:#FF2121;}
main .hot_deal_wrap .swiper-slide .deal .score_price p:nth-child(2) {
    font-size:1.13rem; font-weight:600; letter-spacing:-0.02em;
}
main .hot_deal_wrap .swiper-slide .deal .score_price a {
    font-size:0.88rem; font-weight:600; letter-spacing:-0.02em; align-self:center;
}
main .hot_deal_wrap .swiper-slide .deal > p {
    color:#777; margin-bottom:5px; font-size:0.88rem; font-weight:600; letter-spacing:-0.02em;
}
main .hot_deal_wrap .swiper-slide .deal .deal_price {
    float:right; margin-top:10px; font-size:1.25rem; font-weight:600; color:#000;
}
main .hot_deal_wrap .swiper-slide .deal .deal_price span {text-decoration-line:line-through; font-size:1.0rem; color:#aaa; font-weight:500; margin-right:12px;}
/* hot deal 개별선택자 */
main .hot_deal_wrap .hot_deal_list .deal1 {}
main .hot_deal_wrap .hot_deal_list .deal1 > a {}
main .hot_deal_wrap .hot_deal_list .deal1 > a p {}
main .hot_deal_wrap .hot_deal_list .deal1 > a p img {}
main .hot_deal_wrap .hot_deal_list .deal1 .discount {}
main .hot_deal_wrap .hot_deal_list .deal1 .score_price {}
main .hot_deal_wrap .hot_deal_list .deal1 .score_price p {}
main .hot_deal_wrap .hot_deal_list .deal1 .score_price a {}
main .hot_deal_wrap .hot_deal_list .deal1 > p {}
main .hot_deal_wrap .hot_deal_list .deal1 .best_price {}
main .hot_deal_wrap .hot_deal_list .deal1 .best_price span {}
main .hot_deal_wrap .hot_deal_list .deal2 {}
main .hot_deal_wrap .hot_deal_list .deal2 > a {}
main .hot_deal_wrap .hot_deal_list .deal2 > a p {}
main .hot_deal_wrap .hot_deal_list .deal2 > a p img {}
main .hot_deal_wrap .hot_deal_list .deal2 .discount {}
main .hot_deal_wrap .hot_deal_list .deal2 .score_price {}
main .hot_deal_wrap .hot_deal_list .deal2 .score_price p {}
main .hot_deal_wrap .hot_deal_list .deal2 .score_price a {}
main .hot_deal_wrap .hot_deal_list .deal2 > p {}
main .hot_deal_wrap .hot_deal_list .deal2 .best_price {}
main .hot_deal_wrap .hot_deal_list .deal2 .best_price span {}
main .hot_deal_wrap .hot_deal_list .deal3 {}
main .hot_deal_wrap .hot_deal_list .deal3 > a {}
main .hot_deal_wrap .hot_deal_list .deal3 > a p {}
main .hot_deal_wrap .hot_deal_list .deal3 > a p img {}
main .hot_deal_wrap .hot_deal_list .deal3 .discount {}
main .hot_deal_wrap .hot_deal_list .deal3 .score_price {}
main .hot_deal_wrap .hot_deal_list .deal3 .score_price p {}
main .hot_deal_wrap .hot_deal_list .deal3 .score_price a {}
main .hot_deal_wrap .hot_deal_list .deal3 > p {}
main .hot_deal_wrap .hot_deal_list .deal3 .best_price {}
main .hot_deal_wrap .hot_deal_list .deal3 .best_price span {}
main .hot_deal_wrap .hot_deal_list .deal4 {}
main .hot_deal_wrap .hot_deal_list .deal4 > a {}
main .hot_deal_wrap .hot_deal_list .deal4 > a p {}
main .hot_deal_wrap .hot_deal_list .deal4 > a p img {}
main .hot_deal_wrap .hot_deal_list .deal4 .discount {}
main .hot_deal_wrap .hot_deal_list .deal4 .score_price {}
main .hot_deal_wrap .hot_deal_list .deal4 .score_price p {}
main .hot_deal_wrap .hot_deal_list .deal4 .score_price a {}
main .hot_deal_wrap .hot_deal_list .deal4 > p {}
main .hot_deal_wrap .hot_deal_list .deal4 .best_price {}
main .hot_deal_wrap .hot_deal_list .deal4 .best_price span {}
/* hot deal 끝 */
main .guide_wrap {
    width:100%; margin:0 auto 140px;
    height:598px; position:relative;
}
main .guide_wrap a {}
main .guide_wrap a p img {}
main .guide_wrap a h2 {
    position:absolute; left:65px; top:45px;
    font-size:2.0rem; font-weight:600; letter-spacing:-0.02em; opacity:0.8;
    color:#fff;
}
main .guide_wrap a p:last-child {
    position:absolute; left:65px; bottom:61px;
    color:#fff; font-size:2.5rem; letter-spacing:-0.02em; font-weight:600;
    line-height:1.4;
    }
main .guide_wrap a p:last-child span {
    font-size:1.56rem; letter-spacing:-0.02em; font-weight:600; line-height:1.4;
}
/* guide 끝 */
main .event_wrap {width:1760px; margin:0 auto 140px;}
main .event_wrap .event_title {overflow:hidden; margin-bottom:25px;}
main .event_wrap .event_title h2 {float:left; font-size:2.0rem; font-weight:600; letter-spacing: -0.02em;}
main .event_wrap .event_title a {float:right; font-size:1.13rem; font-weight:600; letter-spacing:-0.02em;}
main .event_wrap .event_list {width:100%; display:flex; justify-content: space-between;}
main .event_wrap .event_list img {}
/* event 끝 */
main .best_wrap {width:1760px; margin:0 auto 140px;}
main .best_wrap .best_title {overflow:hidden;}
main .best_wrap .best_title h2 {font-size:2.0rem; font-weight:600; letter-spacing:-0.02em; margin-bottom:20px;}
main .best_wrap .best_title .best_categories {float:left;}
main .best_wrap .best_title .best_categories a {
    font-weight:500; letter-spacing:-0.02em; border:1px solid #BEBEBE; border-radius:25px; padding: 10px 17px; display:inline-block;
}
main .best_wrap .best_title .best_categories a.active {
    border:none; background-color:#015EC5; color:#fff;
}
main .best_wrap .best_title .best_page {float:right; display:flex;}
main .best_wrap .best_title .best_page a {line-height:32px;}
main .best_wrap .best_title .best_page a:first-child {margin-right:20px;}
main .best_wrap .best_title .best_page a img {}
main .best_wrap .best_title .best_page p {line-height:32px; margin-right:5px; color:#777;}
main .best_wrap .best_title .best_page .now_page {font-size:1.25rem; font-weight:500; position:relative; top:-2px; color:#000;}
main .best_wrap .best_title .best_page .total_page {margin-right:20px;}
main .best_wrap .best_list_contents {margin-top:20px; overflow:hidden;}
main .best_wrap .best_list_contents .best_bnr {margin-right:30px; float:left;}
main .best_wrap .best_list_contents .best_bnr img {}
main .best_wrap .best_list_contents .best_list {float:right; display:flex;}
main .best_wrap .best_list_contents .best_list > * {margin-right:20px;}
main .best_wrap .best_list_contents .best_list > *:last-child {margin-right:0;}
/* best 공통선택자 */
main .best_wrap .best_list_contents .best_list .best {position:relative;}
main .best_wrap .best_list_contents .best_list .best > a {}
main .best_wrap .best_list_contents .best_list .best > a p {
    font-size:1.13rem; font-weight:600; letter-spacing: -0.02em;
    margin-bottom:10px;
}
main .best_wrap .best_list_contents .best_list .best > a p img {margin-bottom:24px;}
main .best_wrap .best_list_contents .best_list .best .rank_number {
    position:absolute; left:0; top:0; background-color:#015EC5; width:25px; height:30px; color:#fff;
    text-align:center; line-height:28px;
}
main .best_wrap .best_list_contents .best_list .best .score_price {display:flex;}
main .best_wrap .best_list_contents .best_list .best .score_price > * {margin-right:13px;}
main .best_wrap .best_list_contents .best_list .best .score_price > *:last-child {margin-right:0;}
main .best_wrap .best_list_contents .best_list .best .score_price p {font-weight:1.13rem; font-weight:600; letter-spacing:-0.02em;}
main .best_wrap .best_list_contents .best_list .best .score_price p:first-child {color:#FF2121;}
main .best_wrap .best_list_contents .best_list .best .score_price a {
    font-size:0.88rem; font-weight:600; letter-spacing:-0.02em; position:relative; top:2px; margin-bottom:10px;
}
main .best_wrap .best_list_contents .best_list .best > p {    
    color:#777; margin-bottom:5px; font-size:0.88rem; font-weight:600; letter-spacing:-0.02em;
}
main .best_wrap .best_list_contents .best_list .best .best_price {margin-top:20px; float:right; font-size:1.25rem; letter-spacing:-0.02em; color:#000;}
main .best_wrap .best_list_contents .best_list .best .best_price span {
    font-size:0.75rem; font-weight:600; letter-spacing:-0.02em; color:#015EC5;
}
main .best_wrap .best_list_contents .best_list .best .best_price img {position:relative; top:4px;}
/* best 끝 */
main .care_wrap {width:1760px; margin:0 auto 220px;}
main .care_wrap h2 {}
main .care_wrap .care_list {display:flex;}
/* care 공통 선택자 */
main .care_wrap .care_list .care {margin-right:20px;}
main .care_wrap .care_list .care:last-child {margin-right:0;}
main .care_wrap .care_list .care a {display:inline-block; margin-bottom:10px;}
main .care_wrap .care_list .care a p {
    font-size:1.25rem; font-weight:600; letter-spacing:-0.02em; line-height:1.2;
}
main .care_wrap .care_list .care a p img {margin-bottom:22px;}
main .care_wrap .care_list .care > p {font-size:0.88rem; letter-spacing:-0.02em; line-height:1.2;}