main {}
main .path {width:1200px; margin:0 auto 30px; font-size:0.75rem; letter-spacing: -0.02em;}
main .path a {}
main .path span {}
/* 사진 영역 시작 */
main #product_wrap {
    width:1200px; margin:0 auto 100px; display:flex; justify-content: space-between;
}
main #product_wrap .photo_thumnail {}
main #product_wrap .photo_thumnail > a:first-child {margin-bottom:20px;}
main #product_wrap .photo_thumnail > a:last-child {margin-top:20px;}
main #product_wrap .photo_thumnail > a {display:inline-block; margin-left:18px;}
main #product_wrap .photo_thumnail > a img {}
main #product_wrap .photo_thumnail .thum_swiper {}
main #product_wrap .photo_thumnail .thum_swiper .swiper-wrapper {;}
main #product_wrap .photo_thumnail .thum_swiper .swiper-wrapper .swiper-slide {display:flex; flex-flow:column nowrap; width:max-content;}
main #product_wrap .photo_thumnail .thum_swiper .swiper-wrapper .swiper-slide a {}
main #product_wrap .photo_thumnail .thum_swiper .swiper-wrapper .thum_slide1 {width:max-content; margin-bottom:20px;}
main #product_wrap .photo_thumnail .thum_swiper .swiper-wrapper .thum_slide1 a {}
main #product_wrap .photo_thumnail .thum_swiper .swiper-wrapper .thum_slide1 a:last-child {margin-bottom:0;}
main #product_wrap .photo_thumnail .thum_swiper .swiper-wrapper .thum_slide1 a.active {border:none; border-radius:5px;}
main #product_wrap .photo_thumnail .thum_swiper .swiper-wrapper .thum_slide1 a.active img {border:2px solid #000;}
main #product_wrap .photo_thumnail .thum_swiper .swiper-wrapper .thum_slide1 a img {border:1px solid #aaa; border-radius:5px;}
main #product_wrap .photo_thumnail .thum_swiper .swiper-wrapper .thum_slide2 {}
main #product_wrap .photo_thumnail .thum_swiper .swiper-wrapper .thum_slide2 a {}
main #product_wrap .big_bg img {margin-bottom:15px;}
main #product_wrap .big_bg .number dl {display:inline-block; text-align:center;}
main #product_wrap .big_bg .number dl > * {
    font-size:0.88rem; font-weight:600; letter-spacing:-0.02em; color:#777; 
    display:inline-block;
}
main #product_wrap .big_bg .number dl dt {margin-right:10px; }
main #product_wrap .big_bg .number dl dd {}
main #product_wrap .big_bg .number .model_number {
    width:247px; margin-right:30px;
}
main #product_wrap .big_bg .number .model_number dt {}
main #product_wrap .big_bg .number .model_number dd {}
main #product_wrap .big_bg .number .part_number {width:247px;}
main #product_wrap .big_bg .number .part_number dt {}
main #product_wrap .big_bg .number .part_number dd {}
/* 상품 정보 */
main #product_wrap .inform_wrap {}
main #product_wrap .inform_wrap .product_name {margin-bottom:25px;}
main #product_wrap .inform_wrap .product_name p {
    margin-bottom:5px;
    font-size:0.88rem;  font-weight:500; line-height:1.7; letter-spacing:-0.02em; color:#5c5c5c;
}
main #product_wrap .inform_wrap .product_name h2 {
    font-size:2.0rem; letter-spacing: -0.02em; font-weight:600;
}
main #product_wrap .inform_wrap .product_score {margin-bottom:20px;}
main #product_wrap .inform_wrap .product_score p {
    display:inline-block;
    font-size:1.25rem; font-weight:600; letter-spacing: -0.02em;
}
main #product_wrap .inform_wrap .product_score p:nth-child(2) {margin-left:10px;}
main #product_wrap .inform_wrap .product_price {margin-bottom:20px; font-size:1.5rem; font-weight:600; letter-spacing:-0.02em;}
main #product_wrap .inform_wrap .product_price > * {margin-right:15px;}
main #product_wrap .inform_wrap .product_price em {
    color:#ff2121; font-weight:600; 
}
main #product_wrap .inform_wrap .product_price strong {font-size:0.94rem; text-decoration-line:line-through; color:#777; font-weight:600;}
/* dl 공통 선택자 */
main #product_wrap .inform_wrap dl {
    width:370px; font-size:0.88rem; letter-spacing:-0.02em; display:flex; justify-content: space-between;
}
main #product_wrap .inform_wrap dl dt {
    width:70px; margin-right:20px; font-weight:600; display:inline-block;
    
}
main #product_wrap .inform_wrap dl dd {}
main #product_wrap .inform_wrap dl dd {
    margin-bottom:10px; width:calc(100% - 90px);
    line-height:2.0;
    position:relative; top:-4px;
}
main #product_wrap .inform_wrap dl dd img {margin-left:5px; position:relative; top:5px;}
/* dl 개별 선택자 */
main #product_wrap .inform_wrap .deliver {margin-bottom:15px;}
main #product_wrap .inform_wrap .deliver dt {}
main #product_wrap .inform_wrap .deliver dd {}
main #product_wrap .inform_wrap .deliver dd {}
main #product_wrap .inform_wrap .deliver dd:last-child {margin-bottom:0;}
main #product_wrap .inform_wrap .deliver dd img {}
main #product_wrap .inform_wrap .visit_recieve {}
main #product_wrap .inform_wrap .visit_recieve dt {}
main #product_wrap .inform_wrap .visit_recieve dd {}
main #product_wrap .inform_wrap .visit_recieve dd:last-child {margin-bottom:30px;}
main #product_wrap .inform_wrap .select_wrap {}
main #product_wrap .inform_wrap .select_wrap > * {display:flex; margin-bottom:30px;}
main #product_wrap .inform_wrap .select_wrap > * a {margin-right:8px;}
main #product_wrap .inform_wrap .select_wrap > * a:last-child {margin-right:0;}
main #product_wrap .inform_wrap .select_wrap h3 {width:70px; font-weight:600; letter-spacing:-0.02em; margin-right:20px; position:relative; top:3px;}
main #product_wrap .inform_wrap .select_wrap a {
    display:inline-block; opacity:0.6;
    border:1px solid #777; border-radius:5px; padding:15px 20px; text-align:center;
    font-size:0.75rem; line-height:1.2; letter-spacing: -0.02em; color:#777;
}
main #product_wrap .inform_wrap .select_wrap a.active {
    border:1px solid #015EC5; color:#015EC5; font-weight:600; opacity:1.0;
}
main #product_wrap .inform_wrap .select_wrap .storage {}
main #product_wrap .inform_wrap .select_wrap .storage h3 {}
main #product_wrap .inform_wrap .select_wrap .storage .storage_select {}
main #product_wrap .inform_wrap .select_wrap .storage .storage_select a {width:100px; padding:10px 0;}
main #product_wrap .inform_wrap .select_wrap .memory {}
main #product_wrap .inform_wrap .select_wrap .memory h3 {}
main #product_wrap .inform_wrap .select_wrap .memory .memory_select {}
main #product_wrap .inform_wrap .select_wrap .memory .memory_select a {width:100px; padding:10px 0;}
main #product_wrap .inform_wrap .select_wrap .processor {}
main #product_wrap .inform_wrap .select_wrap .processor h3 {}
main #product_wrap .inform_wrap .select_wrap .processor .pro_select {}
main #product_wrap .inform_wrap .select_wrap .processor .pro_select a {width:150px; text-align:left; padding:11px 23px; border-radius:10px;}
main #product_wrap .inform_wrap .select_wrap .graphic {}
main #product_wrap .inform_wrap .select_wrap .graphic h3 {}
main #product_wrap .inform_wrap .select_wrap .graphic .graphic_select {}
main #product_wrap .inform_wrap .select_wrap .graphic .graphic_select a {border-radius:10px;}
main #product_wrap .inform_wrap .select_wrap .color {}
main #product_wrap .inform_wrap .select_wrap .color h3 {}
main #product_wrap .inform_wrap .select_wrap .color .color_select {}
main #product_wrap .inform_wrap .select_wrap .color .color_select a {border-radius:10px;}
main #product_wrap .inform_wrap .select_wrap .color .color_select a img {margin-right:5px; position:relative; top:2px;}
main #product_wrap .inform_wrap .select_wrap .btn {}
main #product_wrap .inform_wrap .select_wrap .btn button {width:251px; padding: 15px 0; border-radius:5px; font-weight:600; letter-spacing:-0.02em;}
main #product_wrap .inform_wrap .select_wrap .btn #cart_btn {margin-right:5px; background-color:#015EC5; color:#fff;}
main #product_wrap .inform_wrap .select_wrap .btn #buy_btn {border:1px solid #015EC5; color:#015EC5;}
/* product_wrap end */
main .sub_bnr {
    width:100%; height:350px;
    background-image:url(../images/sub_bnr_001.jpg);
    background-size:cover; padding-top:107px;
    position:relative; margin-bottom:100px;
}
main .sub_bnr::after {content:''; display:block; width:100%; height:100%; position:absolute; left:0; top:0; background-color:rgba(0,0,0,0.4); z-index:10;}
main .sub_bnr p {
    width:1044px; margin:0 auto;
    line-height:1.7; font-weight:500; letter-spacing:-0.02em;
    color:#fff; position:absolute; left:23%; z-index:90;
}
/* benefit 공통 선택자 */
main .benefit {}
main .benefit p {}
main .benefit p img {}
main .benefit h4 {}
/* benefit 개별 선택자 */
main .benefit .free_delivery {}
main .benefit .free_delivery p {}
main .benefit .free_delivery p img {}
main .benefit .free_delivery h4 {}
main .benefit .simple_pay {}
main .benefit .simple_pay p {}
main .benefit .simple_pay p img {}
main .benefit .simple_pay h4 {}
main .benefit .premium_care {}
main .benefit .premium_care p {}
main .benefit .premium_care p img {}
main .benefit .premium_care h4 {}
main .event_promotion {}
main .event_promotion .promotion_title {}
main .event_promotion .promotion_title h3 {}
main .event_promotion .promotion_title p {}
main .event_promotion > a {}
main .event_promotion > a img {}